{% extends 'template.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block pageTitle %}
{% endblock %}

{% block link %}
    <a class="navbar-brand ps-3" href="/dashboardPM">Manager Space</a>
{% endblock %}


{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css"/>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
        <script>
            $(document).ready(() => $('#calendar').fullCalendar({}));
        </script>
    {% endblock %}





    {% block navbars %}
    {% endblock %}
    <div class="test">
        <div class="row">
            <div class="col-md-6" style="padding-top: 30px;">
                <!-- Calendar div with a width of 400px and height of 300px -->
                <span style="font-size: xx-large">Welcome,</span> <span
                        style="font-size: xx-large; color: #FE9D15;">{{ user }}!</span> <br>
                <span style="font-size: x-large">Here is your agenda for today</span>
                <div id="calendar" style="padding-top: 30px; width: 400px; height: 400px; background: #FFFFFF;"></div>
            </div>

            <div class="col-md-6" style="padding-top: 30px;">
                <h2>Project Statistics</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-counter success">
                                <i class="fa fa-check fa-2x"></i>
                                <span class="count-numbers">{{ count_project_Completed }}</span>
                                <span class="count-name">Project Completed</span>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top: 20px;">
                            <div class="card-counter danger">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                <span class="sr-only">Loading...</span>
                                <span class="count-numbers">{{ count_project_Waiting }}</span>
                                <span class="count-name">Project Waiting</span>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top: 20px;">
                            <div class="card-counter info">
                                <i class="fa fa-pause fa-2x" aria-hidden="true"></i>
                                <span class="count-numbers">{{ count_project_Pending }}</span>
                                <span class="count-name">Project Pending</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h2>Projects List</h2>

    <table id="example2" class="table table-striped" style="width:100% ; padding-top: 20px">
        <thead>
        <tr>
            <th>Project Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.nomProjet }}</td>
                <td>{{ projet.Description }}</td>
                <td>{{ projet.dateDebut ? projet.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ projet.dataFin ? projet.dataFin|date('Y-m-d') : '' }}</td>
                <td>{{ projet.status }}</td>
                <td>
                    <div class="d-flex ">
                        <a href="{{ path('app_manager_projet_show', {'id': projet.id}) }}"
                           class="btn btn-outline-primary me-3">Show details</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




















{% endblock %}


