{% extends 'template.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block pageTitle %}
    Dashboard
{% endblock %}



{% block body %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card-counter success">
                    <i class="fa fa-check fa-2x"></i>
                    <span class="count-numbers">{{ count_project_Competed }}</span>
                    <span class="count-name">Project Completed</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter danger">
                    <i class="fa fa-spinner fa-2x"></i>
                    <span class="count-numbers">{{ count_project_Waiting }}</span>
                    <span class="count-name">Project Waiting</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter primary">
                    <i class="fa fa-users fa-2x"></i>
                    <span class="count-numbers">{{ count_employee}}</span>
                    <span class="count-name">Employees</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter info">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="count-numbers">{{ count_project_manager}}</span>
                    <span class="count-name">Project Manager</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-center m-4">
        <div class="card-header">
            Proejct
        </div>
        <div class="card-body">
            <h5 class="card-title">Project Management</h5>
            <p class="card-text"></p>
            <a href="{{ path('app_projet_index') }}" class="btn btn-outline-primary">View</a>
            <a href="{{path('app_projet_new')}}" class="btn btn-outline-primary">Create</a>
            <a href="{{ path('app_projet_index') }}" class="btn btn-outline-primary">Update/Delete</a>
        </div>
    </div>
    <div class="card text-center m-4">
        <div class="card-header">
            Employee
        </div>
        <div class="card-body">
            <h5 class="card-title">Employee Management</h5>
            <p class="card-text"></p>
            <a href="{{ path('app_user_index_employee') }}" class="btn btn-outline-primary">View</a>
            <a href="{{ path('app_user_index_employee') }}" class="btn btn-outline-primary">Update</a>
        </div>
    </div>
    <div class="card text-center m-4">
        <div class="card-header">
            Project Manager
        </div>
        <div class="card-body">
            <h5 class="card-title">PM Management</h5>
            <p class="card-text"></p>
            <a href="{{ path('app_user_index_project_manager') }}" class="btn btn-outline-primary">View</a>
            <a href="{{ path('app_user_index_project_manager') }}" class="btn btn-outline-primary">Update</a>
        </div>
    </div>

{% endblock %}
